.app {
  overflow: hidden;
}

.header {
  padding-bottom: 20px;
}

.header__nav {
  display: flex;
  justify-content: space-between;
}

.strikethrough {
  border-bottom: 1px solid var(--border-color);
}

.header__left-list {
  list-style: none;
  display: flex;
  padding-left: 0;
}

.header__nav-language {
  position: relative;
}

.header__nav-language:hover .header__language-list {
  /* display: block;
    animation: loading linear 0.2s; */
  bottom: -93.5px;
  opacity: 1;
  z-index: 1;
}

.header__language-list {
  position: absolute;
  background-color: var(--white-color);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  width: 120px;
  height: 90px;
  padding: 0px 10px 10px 10px;
  /* display: none; */
  bottom: -93.5px;
  bottom: -120px;
  opacity: 0;
  z-index: -1;
  transition: all 0.3s linear;
}

.header__language-list::before {
  position: absolute;
  content: "";
  width: 120px;
  height: 30px;
  right: 3px;
  top: -10px;
}

.header__language-list-item {
  padding-top: 20px;
  display: inline-block;
  position: relative;
}

.header__language-list-item::before {
  position: absolute;
  content: "";
  width: 120px;
  left: -10px;
  top: 10px;
  border-bottom: 1px solid var(--border-color);
}

.header__language-list-item-link span {
  display: inline-block;
  line-height: 2rem;
}

.header__language-list-item-img {
  padding-right: 6px;
}

.header__nav-price {
  position: relative;
}

.header__nav-price:hover .header__price-list {
  bottom: -93.5px;
  opacity: 1;
  z-index: 1;
}

.header__price-list {
  position: absolute;
  background-color: var(--white-color);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  width: 120px;
  height: 90px;
  padding: 0px 10px 10px 10px;
  /* display: none; */
  left: -18.5px;
  bottom: -93.5px;
  opacity: 0;
  z-index: -1;
  bottom: -120px;
  transition: all 0.3s linear;
}

.header__price-list::before {
  position: absolute;
  content: "";
  width: 120px;
  height: 30px;
  right: 3px;
  top: -10px;
}

.header__price-list-item {
  padding-top: 20px;
  display: block;
  position: relative;
}

.header__price-list-item::before {
  position: absolute;
  content: "";
  width: 120px;
  left: -10px;
  top: 10px;
  border-bottom: 1px solid var(--border-color);
}

.header__price-list-item-link span {
  display: inline-block;
  line-height: 2rem;
}

.header__nav-price::before {
  position: absolute;
  content: "";
  height: 14px;
  top: 50%;
  transform: translateY(-50%);
  left: -20px;
  border-right: 1px solid var(--border-color);
}

.header__right-list {
  list-style: none;
  display: flex;
  padding-left: 0;
  float: right;
}
.header__left-item,
.header__right-item {
  margin: 0 20px;
  font-size: 1.3rem;
  cursor: pointer;
  position: relative;
}

.header__right-item {
  position: relative;
}

.header__left-item-link,
.header__right-item-link {
  color: var(--text-color);
  text-decoration: none;
}

.header__right-item-link span {
  display: inline-block;
  vertical-align: middle;
  width: 7rem;
}

.header__right-item-link {
  display: flex;
}

.header__right-item-link i {
  padding-right: 5px;
}

.header__right-item::before {
  position: absolute;
  content: "";
  height: 14px;
  top: 50%;
  transform: translateY(-50%);
  left: -20px;
  border-right: 1px solid var(--border-color);
}

.header__right-item:first-child::before {
  display: none;
}

.header__icon-dow {
  font-size: 1rem;
}

.header__nav-language .header__left-item-link {
  position: relative;
  bottom: 3px;
}

.header__price-list-item-link:hover,
.header__language-list-item-link span:hover,
.header__right-item-link:hover {
  color: var(--primary-color);
  transition: 0.3s linear;
}

/* header search */

.header__search {
  margin-top: 40px;
}

.header__search-search-form {
  position: relative;
}

.header__search-search-input {
  width: 100%;
  outline: none;
  padding: 13px 30px;
  border: 2px solid var(--primary-color);
  border-radius: 30px;
}

.header__search-search-icon {
  position: absolute;
  right: 30px;
  top: 50%;
  transform: translateY(-50%);
}

.header__search-search-icon-link {
  font-size: 1.5rem;
  font-weight: 200;
  color: #999;
}
.header__search-cart-text span:hover,
.header__search-search-icon-link:hover,
.header__search-tell-text span:hover {
  color: var(--primary-color);
  transition: 0.3s linear;
}

.header__search-tell {
  /* display: inline-block; */
  margin-left: 10px;
}

.header__search-tell-link {
  background-repeat: no-repeat;
  background-size: contain;
  width: 100%;
  display: flex;
}

.header__search-tell-img {
  width: 20%;
  display: block;
}

.header__search-tell-text {
  display: flex;
  flex-direction: column;
  margin-left: 10px;
}
.header__search-cart-text h1,
.header__search-tell-text h1 {
  font-size: 1.3rem;
  margin-bottom: 5px;
  letter-spacing: 1px;
}

.header__search-cart-text span,
.header__search-tell-text span {
  font-size: 1.3rem;
  color: var(--text-color);
}

.header__search-cart-link {
  height: auto;
  display: flex;
  width: 100%;
  max-width: 48px;
  max-height: 48px;
}

.header__search-cart-img {
  width: 60%;
  display: inline-block;
}

.header__search-cart {
  display: inline-block;
  padding: 0;
  margin-left: -40px;
  position: relative;
}

.header__search-cart-text h1 {
  display: inline-block;
  vertical-align: middle;
  width: 7rem;
}

.header__search-cart-text {
  display: flex;
  flex-direction: column;
  margin-left: 10px;
}

.header__search-cart-list {
  position: absolute;
  content: "";
  width: 230%;
  height: auto;
  background-color: var(--white-color);
  top: 60px;
  right: 0;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  padding: 0 20px;
  border: 1px solid var(--border-color);
  display: none;
  z-index: 1;
}

.header__search-cart-list h1 {
  position: relative;
  color: var(--text-color);
  font-size: 1.3rem;
  bottom: -10px;
}
.header__search-cart-list h1::before {
  position: absolute;
  content: "";
  width: 100%;
  left: -10px;
  bottom: -20px;
  border-bottom: 1px solid var(--border-color);
}

.header__search-cart-list span {
  display: block;
  color: var(--text-color);
  font-size: 1.3rem;
  padding: 20px 0;
  margin-top: 30px;
}

.header__search-cart:hover .header__search-cart-list {
  display: block;
  animation: loading 0.2s ease-out forwards;
  transition: 0.5s ease;
}

.header__search-cart-list::after {
  position: absolute;
  content: "";
  width: 40%;
  height: 30px;
  top: -20px;
  right: 0;
}

/* container */

/* SLIDE1 */

/* category */
.container {
  margin-top: 40px;
}

.slide1 {
  position: relative;
}

.slide1__category {
  width: 100%;
  height: auto;
  padding: 0;
  border: 1px solid var(--border-color);
}

.slide1__category-header {
  padding: 6px 30px;
}

.slide1__category-header-icon {
  padding-right: 10px;
}

.slide1__category-list {
  margin-top: 0;
  margin-bottom: 0;
}

.slide1__category-item {
  padding: 16px 20px;
  position: relative;
  /* max-width: 48.88;                                                                                                                     */
  cursor: pointer;
  border-top: 1px var(--border-color) solid;
}

/* .slide1__category-item::before{
    content: "";
    width: 100%;
    top: 0;
    left: 0;
    position: absolute;
    border-top: 1px solid var(--border-color);
} */

.slide1__category-item::before {
  content: "";
  width: 100%;
  top: 0;
  height: 0;
  /* height: 100%; */
  left: 0;
  position: absolute;
  border-left: 3px solid var(--primary-color);
  display: block;
  transition: height 0.3s linear, border-left 0.3s linear 0.3s;
}

/* .slide1__category-item-link::before{
    content: "";
    width: 100%;
    top: -18px;
    height: 315%;
    left: -20px;
    position: absolute;
    border-left: 3px solid var(--primary-color);
    display: none;
} */

.slide1__category-item:hover::before {
  /* display: block; */
  height: 100%;
  border-left: 400px solid var(--primary-hover);
  z-index: 0;
}

.slide1__category-item:hover .slide1__category-item-link span {
  color: var(--primary-color);
  transition: 2s ease;
}

.slide1__category-item-link {
  padding-left: 10px;
  position: relative;
  min-width: 18px;
}

.slide1__category-item-icon {
  padding-right: 12px;
  max-height: 12px;
  max-width: 22px;
}

.slide1__category-item-link span {
  font-family: "Saira", sans-serif;
  letter-spacing: 0.5px;
}
/* Verdana, Geneva, Tahoma, sans-serif

 */

.slide1__category-icon-load-more {
  float: right;
  color: var(--text-color);
  margin-top: 5px;
}

.slide1__content-sidebar {
  border: 1px solid var(--border-color);
}

.slide1__content-sidebar-list {
  display: flex;
  margin: 0;
}

.slide1__content-sidebar-item {
  position: relative;
}

.slide1__content-sidebar-item-link {
  display: inline-block;
  padding: 22.3px 15px;
  font-size: 1.4rem;
  font-weight: 600;
  position: relative;
}

.slide1__content-sidebar-item-link--current {
  color: var(--primary-color);
}

.slide1__content-sidebar-item-link:hover {
  color: var(--primary-color);
  transition: 0.4s linear;
}

.slide1__content-sidebar-item-icon {
  margin-right: 5px;
}

.slide1__content-home-content {
  background-image: url(../img/container/slide1/home/banner2.jpg);
  background-size: cover;
  width: 100%;
  height: 498px;
  background-repeat: no-repeat;
  text-align: center;

  /* display: flex;
    justify-content: center;
    align-items: center; */
  font-size: 4rem;
  position: relative;
  user-select: none;
  text-shadow: 0 0 1px #fff;
}

.slide1__content-home-content span {
  display: inline-block;
  margin: 15% 0 0 0;
}

.slide1__content-home-content-btn {
  border: none;
  padding: 12px 25px;
  color: var(--white-color);
  background-color: var(--primary-color);
  cursor: pointer;
}

.slide1__content-home-content-btn--current {
  background-color: var(--white-color);
  color: rgb(102, 102, 102);
}

.slide1__content-home-content-btn:hover {
  background-color: var(--white-color);
  color: var(--black-color);
}

.slide1__content-home-content span {
  color: rgb(11, 164, 157);
  font-size: 3rem;
  font-weight: 300;
}

.slide1__content-home-content h3 {
  margin-top: 30px;
}

.slide1__content-home-content-page {
  width: 15px;
  height: 15px;
  background-color: var(--white-color);
  position: relative;
  bottom: -30%;
  right: -14px;
  display: inline-block;
  border-radius: 50%;
}

.slide1__content-home-content-page:hover {
  background-color: var(--primary-color);
  transition: 0.3s linear;
  cursor: pointer;
}

.slide1__content-home-content-page--current {
  background-color: var(--primary-color);
}

.slide1__content-home-content-page-lar {
  width: 30px;
  border-radius: 20px;
}

/* Sidebar slide 1 */

/* list Home */

.slide1__sidebar-home-list {
  position: absolute;
  width: 250%;
  height: auto;
  background-color: var(--white-color);
  z-index: 1;
  box-shadow: 2px 1px 3px rgb(0 0 0 / 20%);
  border-bottom: 1px solid var(--border-color);
  border-left: 1px solid var(--border-color);
  left: 0;
  display: none;
  top: 62px;
}

.slide1__content-sidebar-item:hover .slide1__sidebar-home-list {
  display: block;
  transform-origin: 15% top;
  animation: loading3 ease-in 0.3s;
  will-change: opacity, transform;
}

.slide1__sidebar-home-item {
  position: relative;
}

.slide1__sidebar-home-list::after {
  content: "";
  position: absolute;
  border-top: 2px solid var(--primary-color);
  width: 100%;
  top: -1px;
}

.slide1__sidebar-home-link {
  display: block;
  padding: 15.8px 30px 18px 20px;
  position: relative;
  font-family: var(--primary-font);
  color: var(--text-color);
}

.slide1__sidebar-home-link::before {
  content: "";
  position: absolute;
  bottom: 0px;
  left: 0;
  width: 100%;
  border-bottom: 1px solid var(--border-color);
}

.slide1__sidebar-home-link:hover {
  background-color: var(--primary-hover);
  color: var(--primary-color);
  transition: 0.2s linear;
}

/* list Blog + Page */
.slide1__sidebar-pages-list,
.slide1__sidebar-blog-list {
  position: absolute;
  width: 250%;
  height: auto;
  background-color: var(--white-color);
  z-index: 1;
  box-shadow: 2px 1px 3px rgb(0 0 0 / 20%);
  border-bottom: 1px solid var(--border-color);
  border-left: 1px solid var(--border-color);
  left: 0;
  display: none;
  top: 62px;
}

.slide1__content-sidebar-item:hover .slide1__sidebar-blog-list,
.slide1__content-sidebar-item:hover .slide1__sidebar-pages-list {
  display: block;
  transform-origin: 15% top;
  animation: loading3 ease-in 0.3s;
  will-change: opacity, transform;
}

.slide1__sidebar-blog-item,
.slide1__sidebar-pages-item {
  position: relative;
}

.slide1__sidebar-blog-list::after,
.slide1__sidebar-pages-list::after {
  content: "";
  position: absolute;
  border-top: 2px solid var(--primary-color);
  width: 100%;
  top: -1px;
}

.slide1__sidebar-blog-link,
.slide1__sidebar-pages-link {
  display: block;
  padding: 15.8px 30px 18px 20px;
  position: relative;
  font-family: var(--primary-font);
  color: var(--text-color);
}

.slide1__sidebar-blog-link::before,
.slide1__sidebar-pages-link::before {
  content: "";
  position: absolute;
  bottom: 0px;
  left: 0;
  width: 100%;
  border-bottom: 1px solid var(--border-color);
}

.slide1__sidebar-blog-link:hover,
.slide1__sidebar-pages-link:hover {
  background-color: var(--primary-hover);
  color: var(--primary-color);
  transition: 0.2s linear;
}

/* list Shop Pages */

.slide1__sidebar-shop-pages-list {
  position: absolute;
  width: 1047px;
  height: auto;
  background-color: var(--white-color);
  z-index: 1;
  box-shadow: 2px 1px 3px rgb(0 0 0 / 20%);
  border-bottom: 1px solid var(--border-color);
  border-left: 1px solid var(--border-color);
  left: -170px;
  display: none;
  top: 62px;
  padding-bottom: 30px;
}

.slide1__sidebar-shop-page-header {
  margin-bottom: 0;
  padding: 30px;
  font-family: var(--primary-font);
  position: relative;
  cursor: default;
  margin-top: 10px;
}
.slide1__sidebar-shop-page-header::before {
  content: "";
  width: 30%;
  bottom: 9.1px;
  right: 30px;
  position: absolute;
  border-bottom: 1px solid var(--border-color);
}

.slide1__sidebar-shop-page-header span {
  cursor: pointer;
}

.slide1__sidebar-shop-page-list-sub {
  padding-left: 30px;
}

.slide1__sidebar-shop-page-list-sub-item {
  padding: 8px;
  font-size: 1.4rem;
  color: var(--text-color);
  font-family: var(--primary-font);
  cursor: pointer;
  font-weight: 400;
  line-height: 1.42857;
}

.slide1__sidebar-shop-page-list-sub-item:first-child {
  position: relative;
}

.slide1__sidebar-shop-page-list-sub-item:first-child::before {
  content: "";
  width: 60%;
  top: -10px;
  left: 0;
  position: absolute;
  border-top: 1px solid var(--primary-color);
}

.slide1__sidebar-shop-page-list-sub-item:hover .slide1__sidebar-shop-page-link {
  color: var(--primary-color);
  transition: 0.2s linear;
}

.slide1__sidebar-shop-page-icon {
  padding-left: 12px;
  height: auto;
  margin-right: 10px;
}

.slide1__sidebar-shop-page-link-icon {
  padding-right: 6px;
}

.slide1__content-sidebar-item:hover .slide1__sidebar-shop-pages-list {
  display: flex;
  transform-origin: 23% top;
  animation: loading3 ease-in 0.3s;
  will-change: opacity, transform;
}

.slide1__sidebar-shop-pages-list::after {
  content: "";
  position: absolute;
  border-top: 2px solid var(--primary-color);
  width: 100%;
  top: -1px;
}

/* Slide1 Footer */

.slide1__footer {
  padding-top: 60px;
  justify-content: center;
  align-items: center;
}

.slide1__footer-item-cover {
  border: 1px solid var(--border-color);
  padding: 30px 30px;
  display: flex;
}

.slide1__footer-item:first-child .slide1__footer-item-cover::before {
  display: none;
}

.slide1__footer-icon {
  padding: 10px;
}

.slide1__footer-description {
  margin: 0 0 10px 10px;
}

.slide1__footer-description span {
  font-family: var(--primary-font);
}

.slide1__footer-item-cover h3 {
  margin-bottom: 10px;
  font-size: 1.4rem;
}

.slide1__footer-item-cover a:hover {
  color: var(--primary-color);
  transition: 0.2s linear;
}

.slide1__footer-item-cover:hover .slide1__footer-icon {
  animation: icon-circle-img-anim 0.3s 2 ease-in-out;
}

.coating {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.1);
  z-index: 1;
  transform: scale(0);
  transition: all 0.4s linear;
}

.slide2__product-medium-item:hover .coating {
  transform: scale(100%);
}

.cover {
  position: relative;
  max-height: 213.333px;
}

.slide2__product-lar-link:hover .coating {
  transform: scale(100%);
}

.slide2__product-lar-img:hover {
  filter: brightness(0.9);
}

.slide2__product-medium-img {
  width: 100%;
  cursor: pointer;
}

.slide2__product-description {
  text-align: center;
  opacity: 1;
  transform: scale(100%);
  transition: all 0.5s linear;
}

.slide2__product-medium-item-link,
.slide2__product-action-btn {
  cursor: pointer;
}

.slide2__product-medium-item-link h3 {
  font-weight: 400;
  font-size: 1.5rem;
}

.slide2__product-price {
  font-weight: 600;
  color: #ccc;
  margin-right: 8px;
  text-decoration: line-through;
}

.slide2__product-price--current {
  color: red;
  text-decoration: none;
  font-size: 1.6rem;
}

.slide2__product-medium-item:hover .slide2__product-medium-img {
  filter: brightness(95%);
}

.slide2__product-action {
  position: absolute;
  bottom: -50px;
  left: 9px;
  display: flex;
  justify-content: space-between;
  opacity: 0;
  transition: all 0.3s linear;
}

.slide2__product-action-btn {
  display: block;
  padding: 18.1%;
  color: #666;
  background-color: #f5f5f5;
  margin: 4px;
  position: relative;
}

.slide2__product-action-btn::before {
  content: "";
  position: absolute;
  width: 130%;
  top: -20px;
  height: 200%;
  left: -10px;
}

.slide2__product-medium-item:hover .slide2__product-action {
  opacity: 1;
  bottom: 0px;
  /* transition: all 0.3s linear; */
}

.slide2__product-medium-item--out .slide2__product-price {
  display: none;
}

.slide2__product-medium-item--out .slide2__product-description {
  min-height: 45px;
}

.slide2__product-medium-item:hover
  .slide2__product-medium-item-out
  .slide2__product-action {
  opacity: 1;
  bottom: 0px;
  transition: all 0.3s linear;
}

.slide2__product-medium-item:hover .slide2__product-description {
  opacity: 0;
  transform: scale(0);
}

.slide2__product-action-btn:hover {
  background-color: var(--primary-color);
  color: var(--white-color);
  transition: 0.3s linear;
}

/* slide4 Bath Room */

.slide4 {
  margin-top: 50px;
}

/* footer slide4 */

.slide4___footer {
  margin-top: 50px;
}

.slide4___footer-banner-img {
  width: 100%;
  display: block;
  transform: scale(0.95);
  cursor: pointer;
}

.slide4___footer-banner-link {
  display: block;
  position: relative;
  overflow: hidden;
}

/* Quick-zoom Container */

/* Point-zoom Container */
.slide4___footer-banner-img {
  transform-origin: 65% 75%;
  transition: transform 1s, filter 0.5s ease-out;
}

/* The Transformation */
.slide4___footer-banner-link:hover .slide4___footer-banner-img {
  transform: scale(1.05);
  filter: brightness(90%);
}

/* Slide Hot Deal */

.slide__hotdeal {
  margin: 50px 0px;
}

.slide__hotdeal__header-title {
  position: relative;
  display: inline-block;
}

.slide__hotdeal__header-title h2 {
  margin: 0;
  padding: 20px 0;
  font-size: 2.5rem;
}

.slide__hotdeal__header-title::before {
  content: "";
  width: 100%;
  bottom: 5px;
  right: 0;
  position: absolute;
  border-bottom: 2px solid var(--primary-color);
}

.slide__hotdeal__header {
  position: relative;
  margin-bottom: 40px;
}

.slide__hotdeal__header::after {
  content: "";
  position: absolute;
  width: 91.6%;
  top: 49.55px;
  right: 0;
  border-bottom: 1px solid var(--border-color);
}

/* product hotdeal */

.slide__hotdeal-item {
  position: relative;
  margin-bottom: 15px;
}

.slide__hotdeal-product {
  position: relative;
  overflow: hidden;
  cursor: pointer;
}

.slide__hotdeal-product:hover .slide__hotdeal-img {
  filter: brightness(90%);
}

.slide__hotdeal-img-link {
  display: block;
}

.slide__hotdeal-img {
  width: 100%;
}

.slide__hotdeal-description {
  text-align: center;
  opacity: 1;
  transform: scale(100%);
  transition: all 0.5s linear;
}

.slide__hotdeal-description h3 {
  font-weight: 500;
  color: var(--text-color);
}

.slide-hotdeal__product-action {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  right: 20px;
  bottom: -50px;
  opacity: 0;
  transition: all 0.3s linear;
}

/* sale */

.time-sale {
  display: inline-block;
  padding: 10px 20px;
  background-color: var(--primary-color);
  position: absolute;
  top: 22px;
  right: 6px;
  cursor: pointer;
}

.time-sale::before {
  content: "";
  position: absolute;
  right: 0px;
  top: -6px;
  border-bottom: 6px solid currentColor;
  border-right: 6px solid transparent;
  filter: brightness(40%);
}

.time-sale h4 {
  margin: 0;
  text-transform: uppercase;
  color: var(--white-color);
  font-weight: 400;
  user-select: none;
}

/* Footer */

.footer {
  max-width: 1500px;
}

.slide1__footer-item {
  margin-bottom: 15px;
}

.footer .slide1__footer .slide1__footer-item-cover {
  border: none;
}

.footer .slide1__footer-icon {
  padding: 18px;
}

.footer .slide1__footer-item-cover {
  position: relative;
}

.footer .slide1__footer-item-cover::before {
  position: absolute;
  content: "";
  height: 50%;
  top: 50%;
  transform: translateY(-50%);
  left: -20px;
  border-right: 1px solid var(--border-color);
}

/* copyright */

.copyright {
  padding: 20px;
  width: 101%;
  text-align: center;
  border-top: 1px solid var(--border-color);
}

.copyright span {
  font-weight: 600;
}

.copyright a {
  font-weight: 600;
}

.copyright a:hover {
  color: var(--primary-color);
  transition: all 0.3s linear;
}

/* back home */

.back-home {
  position: fixed;
  padding: 16px;
  background-color: #ccc;
  right: 30px;
  bottom: 100px;
  z-index: 10;
  display: none;
  transition: all 0.3s linear;
}

.back-home:hover {
  background-color: var(--primary-color);
  color: var(--white-color);
  transition: all 0.5s linear;
}

.roll:hover .back-home {
  display: block;
  animation: loading 5s linear;
}

/* footer__tag */

.footer__tag {
  width: 100%;
  height: auto;
  padding: 30px 0;
  background-color: #f5f5f5;
}

.footer__tag p {
  user-select: none;
  font-size: 1.4rem;
}

.footer__tag a:hover {
  color: var(--primary-color);
  transition: 0.3s linear;
}

.footer__tag a {
  margin: 0 2px;
}

/* more product  */

.slide2__product-medium {
  max-height: 600px;
  overflow-y: auto;
  scroll-behavior: smooth;
}
.slide2__product-medium::-webkit-scrollbar {
  width: 10px;
}

.slide2__product-medium::-webkit-scrollbar-thumb {
  background-color: #ccc;
  border-radius: 20px;
}

.slide2__product-medium::-webkit-scrollbar-thumb:hover {
  background-color: var(--primary-color);
}

/* scroll product */

.slide2__product-medium::-webkit-scrollbar-track {
  background-color: var(--border-color);
  border-radius: 20px;
}

.slide2__product-medium-down-link {
  position: absolute;
  top: 19%;
  z-index: 100;
  left: 0;
  display: block;
  padding: 20px 5px;
}

.slide2__product-medium-up-link {
  position: absolute;
  display: block;
  bottom: 26%;
  left: 0;
  z-index: 100;
  padding: 20px 5px;
}

/* sidebar mobile */

.slide1__sidebar-mobile {
  position: relative;
  background-color: var(--primary-color);
  width: 100%;
  display: flex;
  z-index: 3;
  justify-content: center;
  align-items: center;
  /* overflow: hidden; */
  display: none;
  user-select: none;
}

.slide1__sidebar-mobile-overlay {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.3);
  display: none;
  z-index: 0;
}

.slide__sidebar-mobile-header {
  position: relative;
  height: 10%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  /* border: 1px solid var(--border-color); */
  background-color: var(--primary-color);
  z-index: 4;
}

.slide__sidebar-mobile-header-icon {
  font-size: 3rem;
  padding: 10px;
  position: relative;
  top: 0px;
  z-index: 10;
  cursor: pointer;
}

.slide1__sidebar-mobile-list {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 90%;
  top: 36px;
  opacity: 0;
  z-index: -1;
  transform: translateX(-150%);
  transition: background-color 0.4s linear 0.4s, transform 0.4s linear;
}

.slide1__sidebar-mobile-item {
  margin: 14px 0;
}

.slide1__sidebar-mobile-item-icon {
  font-size: 3rem;
  padding: 10px;
  margin-left: 0;
  z-index: 10;
}

.slide1__sidebar-mobile-input:checked ~ .slide1__sidebar-mobile-overlay {
  display: block;
}

.slide1__sidebar-mobile-input:checked ~ .slide1__sidebar-mobile-list {
  transform: translateX(0);
  opacity: 1;
  background-color: var(--primary-color);
  z-index: 5;
}

.slide1__sidebar-mobile-input:checked ~ .slide1__sidebar-mobile-sub {
  opacity: 1;
  transform: translateX(17.7%);
  z-index: 3;
}

.slide__sidebar-mobile-header-icon-2 {
  font-size: 3rem;
}

/* sidebar - mobile sub   */

.slide1__sidebar-mobile-sub {
  position: absolute;
  background-color: var(--white-color);
  width: 300px;
  min-width: 100%;
  height: 100%;
  opacity: 0;
  top: 50%;
  top: 0;
  transform: translatex(100%);
  z-index: 0;
  transition: all 0.4s linear;
}

.slide1__sidebar-mobile-sub-home-list {
  margin: 0;
}

.slide1__sidebar-mobile-sub-home-item {
  padding: 40px 50px 0 50px;
}

.slide1__sidebar-mobile-item-icon {
  position: relative;
}

.slide1__sidebar-home-list-2 {
  z-index: 10;
  height: 111%;
  width: 300px;
  left: 53px;
  top: -49.5px;
  display: none;
  animation: loading4 0.3s linear;
}

.slide1__sidebar-mobile-item:hover .slide1__sidebar-home-list-2 {
  display: block;
  z-index: 10;
}

.slide1__sidebar-mobile-item:hover .slide1__sidebar-mobile-sub-home-list {
  display: none;
}

/* search mobile */

.header__search-mobile {
  border: 1px solid var(--border-color);
}

.header__search-mobile-container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 5px;
  position: relative;
  width: 90%;
  margin-left: 10%;
}

.header__search-search-icon-link-mobile {
  padding: 0px 0;
  position: relative;
  display: block;
}

.header__search-search-icon-mobile {
  padding: 10px;
}

.header__search-mobile-icon:hover .header__search-search-form {
  display: block;
}

.header__search-search-form-moible {
  width: 90%;
  position: absolute;
  top: 60px;
  left: 10px;
  z-index: -1;
  opacity: 0;
  transition: all 0.5s linear;
}

.header__search-mobile-container:hover .header__search-search-form-moible {
  top: 20px;
  opacity: 1;
  z-index: 2;
}
.slide2__product-description h3 {
  margin-bottom: 15px;
  margin-top: 40px;
}
/*------------------------------------------------------------------------------*/
._2qM0Iy {
  padding: 0;
  margin-top: 1.25rem;
}

.flex,
.h-center {
  display: flex;
}
.card {
  background: #fff;
  border-radius: 3px;
  box-shadow: 0 1px 1px 0 rgb(0 0 0 / 5%);
}

.jexb7x {
  width: 450px;
  padding: 15px;
  flex-shrink: 0;
}

.flex-column {
  flex-direction: column;
}
.flex,
.h-center {
  display: flex;
}

._1KdnTb {
  position: relative;
}

._2fbO7Q {
  position: relative;
}

._1OPdfl {
  position: relative;
}

._3uzKon {
  width: 100%;
  padding-top: 100%;
  background-position: 50%;
}
._2PWsS4 {
  opacity: 1;
  transition: opacity 0.2s ease;
}

.page-product > .container {
  padding-bottom: 4.375rem;
}
.container {
  margin-right: auto;
  margin-left: auto;
  width: 1200px;
}

.eTjGTe {
  flex: 1 0 auto;
  width: 0;
}
.flex-auto {
  flex: 1 1 auto;
}
.flex,
.h-center {
  display: flex;
}

._1Kkkb- {
  width: 100%;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 1.25rem 2.1875rem 0 1.25rem;
}
.flex-auto {
  flex: 1 1 auto;
}
.flex-column {
  flex-direction: column;
}

._2rQP1z {
  display: -webkit-box;
  text-overflow: ellipsis;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  font-weight: 500;
  margin: 0;
  vertical-align: sub;
  max-height: 10rem;
  line-height: 2.5rem;
  overflow: hidden;
  max-width: 41.5625rem;
  min-width: 73rem;
  font-size: 2.3rem;
  word-wrap: break-word;
  color: var(--text-color);
}

.flex-column {
  flex-direction: column;
}
.flex,
.h-center {
  display: flex;
}
._38g6so {
  padding: 15px 20px;
  background: #fafafa;
}
.flex-column {
  flex-direction: column;
}
.flex,
.h-center {
  display: flex;
}
.items-center {
  align-items: center;
}
.flex,
.h-center {
  display: flex;
}

._34BHKe {
  flex-wrap: wrap;
  width: 625px;
  flex-basis: 625px;
  min-height: 1.875rem;
}
.flex,
.h-center {
  display: flex;
}
._2yjfFH {
  font-size: 15px;
  text-decoration: line-through;
  margin-right: 10px;
  font-weight: 600;
  color: #929292;
}
._2Shl1j {
  font-weight: 600;
  color: red;
  text-decoration: none;
  font-size: 3rem;
}
._3rFQYx {
  margin-top: 1.5625rem;
  padding: 0 1.25rem;
}
.VrhRS0:last-child {
  margin-bottom: 0;
}
._1RCFQu {
  padding-bottom: 15px;
}
.VrhRS0 {
  margin-top: -4px;
  margin-bottom: 25px;
  margin-left: -4px;
  padding: 4px;
  color: #434343;
  display: flex;
  align-items: center;
}
._283ldj {
  color: #434343;
  margin-top: 16px;
}
._34CHXV {
  color: #434343;
  width: 110px;
  text-transform: none;
  flex-shrink: 0;
  align-items: center;
  font-size: 1.17em;
  font-weight: bold;
}
._283ldj .shopee-input-quantity {
  background: #fff;
}
._1RTqoK {
  display: flex;
  align-items: center;
}
._1MGNbJ:first-child {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}
._1MGNbJ {
  outline: none;
  cursor: pointer;
  border: 0;
  font-size: 0.875rem;
  font-weight: 300;
  line-height: 1;
  letter-spacing: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 0.1s cubic-bezier(0.4, 0, 0.6, 1);
  border: 1px solid rgba(0, 0, 0, 0.09);
  border-radius: 2px;
  background: transparent;
  color: rgba(0, 0, 0, 0.8);
  width: 32px;
  height: 32px;
}
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
}
button,
select {
  text-transform: none;
}
button {
  overflow: visible;
}
button,
input,
optgroup,
select,
textarea {
  color: inherit;
  font: inherit;
  margin: 0;
}

._1eS5m1 {
  width: 50px;
  height: 32px;
  border-left: 0;
  border-right: 0;
  font-size: 16px;
  font-weight: 400;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  text-align: center;
  cursor: text;
  border-radius: 0;
  -webkit-appearance: none;
}

input {
  line-height: normal;
}
button,
input,
optgroup,
select,
textarea {
  color: inherit;
  font: inherit;
  margin: 0;
}
._3pcTIL {
  padding-left: 20px;
}
._37uIr4 {
  display: flex;
}
._37uIr4 ._1TpzVc {
  flex-direction: row;
}
.btn-tinted,
.btn.btn-tinted {
  position: relative;
  overflow: visible;
  outline: 0;
  background: rgba(198, 242, 239, 0.899);
  background: var(--brand-primary-light-color);
  color: var(--primary-color);
  border: 1px solid var(--primary-color);
  box-shadow: 0 1px 1px 0 rgba(12, 173, 157, 0.767);
}
.btn--l,
.btn--xl {
  min-width: 80px;
  max-width: 250px;
}

.btn--l {
  font-size: 16px;
  height: 48px;
  padding: 0 20px;
}
.btn-solid-primary {
  color: rgb(255, 255, 255);
  position: relative;
  overflow: visible;
  outline: 0;
  background: var(--primary-color);
  border: 1px solid var(--primary-color);
  box-shadow: 0 1px 1px 0 rgba(12, 173, 157, 0.767);
}
.page-product__content {
  min-height: 40rem;
  display: flex;
}
.page-product__detail,
.page-product__hot-sales,
.page-product__info,
.page-product__ratings,
.page-product__recycle,
.page-product__shop,
.page-product__shop-voucher {
  box-shadow: 0 1px 1px 0 rgba(12, 173, 157, 0.767);
  border-radius: 0.125rem;
  overflow: hidden;
  background: #fff;
  margin-top: 0.9375rem;
  padding: 0.625rem;
}
._3ICPhk {
  padding: 0.9375rem 0.9375rem 0;
}
._2N2_VN {
  background: rgba(0, 0, 0, 0.02);
  color: #434343;
  font-size: 1.5em;
  padding: 0.875rem;
  text-transform: capitalize;
}
._2jz573 {
  margin: 1.875rem 0.9375rem 0.9375rem;
}
._1MqcWX {
  white-space: pre-wrap;
  color: rgba(0, 0, 0, 0.8);
  font-size: 0.875rem;
  overflow: hidden;
  text-overflow: ellipsis;
  line-height: 1.7;
}
._2jrvqA p {
  margin: 0;
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  color: #434343;
  font-size: 14px;
}
/*--------------------------------------------------------------------------------------------*/
.container {
  margin-right: auto;
  margin-left: auto;
  width: 1200px;
}

div {
  display: block;
}
._1nft6V {
  display: flex;
  flex-direction: column;
  color: rgba(0, 0, 0, 0.8);
  padding-top: 20px;
  visibility: visible;
}
._1nrPtQ {
  display: flex;
  align-items: center;
  box-shadow: 0 1px 1px 0 rgb(0 0 0 / 5%);
  border-radius: 0.125rem;
  overflow: hidden;
  border-radius: 3px;
  height: 55px;
  font-size: 14px;
  background: #fff;
  margin-bottom: 12px;
  color: #888;
  padding: 0 20px;
}
._27GGo9 {
  color: #434343;
  width: 46.27949%;
  font-size: 18px;
}
._3hJbyz {
  width: 15.88022%;
  text-align: center;
}
._155Uu2 {
  width: 15.4265%;
  text-align: center;
}
._10ZkNr {
  width: 10.43557%;
  text-align: center;
}
._1coJFb {
  width: 12.70417%;
  text-align: center;
}
.aCSbhb {
  box-shadow: 0 1px 1px 0 rgb(0 0 0 / 5%);
  border-radius: 0.125rem;
  overflow: hidden;
  background: #fff;
  overflow: visible;
}
._1-iN2J,
.aCSbhb {
  margin-bottom: 0.9375rem;
}
._2qN5oG {
  position: relative;
  padding-bottom: 1px;
}
._216OLk:last-child {
  padding-bottom: 20px;
}
._216OLk:first-child {
  padding-top: 15px;
}
._216OLk {
  text-decoration: none;
  color: rgba(0, 0, 0, 0.87);
  display: block;
  padding: 0 20px 15px;
  margin-top: 15px;
}
._1GcTXp {
  display: flex;
  align-items: center;
}

._2pPbjQ,
.YxpsCR {
  display: flex;
}
._2pPbjQ {
  width: 29.03811%;
  box-sizing: border-box;
  position: relative;
  flex-direction: column;
}
._2pPbjQ,
.YxpsCR {
  display: flex;
}
.tieude {
  text-decoration: none;
}
.tieude {
  background-color: transparent;
}
.tieude :-webkit-any-link {
  color: -webkit-link;
  cursor: pointer;
  text-decoration: underline;
}
._3SWf-5 {
  background-position: 50%;
  background-size: contain;
  background-repeat: no-repeat;
  width: 80px;
  height: 80px;
}
.anh1 {
  max-width: 100%;
  max-height: 100%;
  position: absolute;
  /*
  top: 50px;
  right: 29px;
  */
}
._2fQT1K,
._3OrWGt {
  line-height: 16px;
  overflow: hidden;
}
._3OrWGt {
  display: flex;
  flex-direction: column;
  padding: 5px 20px 0 10px;
  font-size: 14px;
  width: 243.5px;
}
._2fQT1K {
  text-decoration: none;
  color: #434343;
  display: block;
  margin-bottom: 5px;
  max-height: 32px;
  text-overflow: ellipsis;
  word-break: break-all;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
}
._2fQT1K,
._3OrWGt {
  line-height: 16px;
  overflow: hidden;
  text-decoration: none;
  background-color: transparent;
}
._2fQT1K,
._3OrWGt :-webkit-any-link {
  color: #434343;
  cursor: pointer;
  text-decoration: underline;
}
.Ra8lP2 {
  flex-direction: column;
  width: 15.88022%;
}
._30hIFE,
.Ra8lP2 {
  display: flex;
  align-items: center;
  justify-content: center;
}
._1k1Vcm {
  color: rgba(0, 0, 0, 0.54);
  text-decoration: line-through;
}
._1CXksa {
  margin-right: 10px;
}
._1CXksa:last-child {
  margin: 0;
}
.dn3H7Y {
  width: 10.43557%;
  text-align: right;
  color: red;
}
._2qPRqW {
  flex-direction: column;
}
._2y8iJi {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 12.70417%;
  text-transform: capitalize;
}
.RCd1Gx {
  cursor: pointer;
  background: none;
  border: 0;
}
._2jol0L {
  display: grid;
  grid-template-columns: 1fr 20.3125rem 11.875rem;
  align-items: center;
  box-sizing: border-box;
  background: #fff;
  width: 100%;
  flex: 1;
  font-size: 1rem;
  position: relative;
  margin-top: 0.75rem;
}
._1ri0rT {
  grid-column-start: 1;
  grid-column-end: 4;
  -ms-grid-column-span: 3;
  border-top: 1px dashed rgba(0, 0, 0, 0.09);
}
.W2HjBQ {
  padding: 12px 0;
  grid-column-start: 1;
  grid-column-end: 4;
  -ms-grid-column-span: 3;
  display: flex;
  align-items: center;
  flex: 1;
  width: 100%;
}
._2ntEgZ {
  flex: 1;
}
._2BT_es {
  display: flex;
  flex-direction: column;
}
._3BPMNN {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
._2LMWss {
  margin-left: 20px;
  display: flex;
  align-items: center;
}
._10A7e2 {
  font-size: 16px;
  color: #434343;
  line-height: 19px;
}
.nBHs8H {
  font-size: 24px;
  line-height: 28px;
  margin-left: 5px;
  color: red;
}
._1TwgPm {
  font-size: 14px;
  margin-top: 1px;
  text-align: right;
}
._2jol0L .shopee-button-solid {
  padding: 13px 36px;
  margin: 0 22px 0 15px;
  text-transform: capitalize;
  font-weight: 300;
  height: 2.5rem;
  box-sizing: border-box;
  font-size: 16px;
  border-radius: 2px;
  width: 13.125rem;
}

.shopee-button-solid--primary {
  position: relative;
  overflow: visible;
  outline: 0;
  background: var(--primary-color);
}
.shopee-button-solid {
  padding: 0 20px;
  outline: none;
  cursor: pointer;
  border: 1px solid var(--primary-color);
  font-size: 0.875rem;
  font-weight: 300;
  line-height: 1;
  letter-spacing: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 0.1s cubic-bezier(0.4, 0, 0.6, 1);
  position: relative;
  background: var(--primary-color);
  color: rgb(255, 255, 255);
  transition: opacity 0.2s ease;
  border-radius: 2px;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  box-shadow: 0 1px 1px 0 rgba(12, 173, 157, 0.767);
}
.kcsswk {
  width: 100%;
}
._4cUwRX {
  margin-left: 0.9375rem;
  border-left: 0.2rem solid var(--primary-color);
  color: var(--primary-color);
  font-size: 30px;
  line-height: 4rem;
  padding-left: 0.9375rem;
  margin-bottom: 0.0625rem;
  text-transform: capitalize;
}
